html{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}
body{
    margin: 0 auto;
    box-sizing: border-box;
}
.wrapper{
    width: 1114px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
h2{
    font-weight: 500;
    font-size: 21px;
}
a{
    text-decoration: none;
    color: white;
}
